# OS
.DS_Store
Thumbs.db

# Laravel
/app/vendor/
/app/node_modules/
/app/storage/logs/*
/app/storage/framework/*
!/app/storage/framework/.gitignore
/app/bootstrap/cache/*

# Environment
.env
.env.*
!.env.example

# Vite
/app/public/build
/app/.vite

# Docker volumes
**/pgdata

# IDE
.vscode/
.idea/
