@tailwind base;
@tailwind components;
@tailwind utilities;
/* Zebra tables – forza contrasto */
.table-zebra-force tbody tr:nth-child(odd) {
  background-color: rgba(124, 58, 237, 0.06); /* viola molto soft */
}

.table-zebra-force tbody tr:nth-child(even) {
  background-color: transparent;
}

.table-zebra-force tbody tr:hover {
  background-color: rgba(124, 58, 237, 0.12);
}
